db.sqlite3
my_app/__init__.py
my_app/__pycache__/__init__.cpython-37.pyc
my_app/__pycache__/urls.cpython-37.pyc
my_app/__pycache__/views.cpython-37.pyc
my_app/migrations/__init__.py
my_app/migrations/0001_initial.py
my_app/__pycache__/
my_app/migrations/__pycache__/

MattScraper/__pycache__/

.env
